body {
  font-family: sans-serif; 
  font-size: 1em;
}
#Page {
width: 95vw;
min-height: 66vw;
padding-left: 1em;
margin: 0;
border: 1px black solid;
}

h3 {
display:inline;
}
button {
display:inline;
border-radius:100%;
padding:0.2em;
}
.Title {
margin:0 auto;
width:90vw;
max-height:1.5vw;
text-align:center;
display:inline-block;
}
.Title img {
  width:50%;  
}
li img {
 max-height:8vw;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 23vw;  
  float:left;
  }
  li {
  margin: 0.2em;
  padding: 0.2em;
  height:9.6vw;
  color: black;
  text-align:center;  
  }
  .ui-state-highlight {
  background-color:#e3e4e6;
  box-shadow: 3px 3px 6px 4px rgba(0,0,0,0.75) inset;
-webkit-box-shadow: 3px 3px 6px 4px rgba(0,0,0,0.75) inset;
-moz-box-shadow: 3px 3px 6px 4px rgba(0,0,0,0.75) inset;
  }
  .ui-state-default {
border: 1px #b0b0b2 solid;
touch-action: none;
box-sizing: border-box;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  }
  .ui-state-default:hover {
box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 7px 7px 5px 0px rgba(0,0,0,0.75);
}
